/* styles.css */
*{
  background-color: black;
}
body {
  margin: 0;
  overflow: hidden; /* Hide scrollbars */
  height: 100vh; /* Full viewport height */
}

canvas {
  display: block; /* Remove default margin and padding */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}
